{% extends 'base.html.twig' %}

{% block body %}

	<pre>
	{{ dump(app.user.avatar) }}
</pre>

	<div class="container">

		<div class="row my-5">
			<div class="col-12">
				<h1 class="display-5">{{ title }}</h1>
				<hr>
				{% include "partials/_flash_message.html.twig" %}
			</div>
		</div>

		{% if app.user %}
			<div class="row">
				<div class="col-lg-4">
					<div class="card border-0 bg-form">

						<div class="d-flex mt-4">
							<img src="{{ app.user.avatar ? vich_uploader_asset(app.user,'imageFile') : asset('build/img/default.png') }}" class="card-img-top rounded-circle img-fluid w-50 m-auto">
						</div>

						<div class="card-body text-center">
							<h3 class="card-title">{{ app.user.fullName|title  }}</h3>
							<p>Genre :
								{{ app.user.gender|title  }}
							</p>
							<p class="h5">Membre depuis le :
								<span class="ps-1 text-primary">{{ app.user.createdAt|date("d/m/Y") }}</span>
							</p>
							{% if app.user.isVerified %}
								<p class="p-2 rounded lead mt-3">
									Adresse email :
									<span class="text-success fw-bold">Vérifiée</span>&nbsp;
									<img src="{{ asset('build/img/true.png') }}" width="25">
								</p>
							{% else %}
								<p class="p-2 rounded lead mt-3">
									Adresse email :
									<span class="text-danger fw-bold">Non vérifiée</span>&nbsp;
									<img src="{{ asset('build/img/false.png') }}" width="25">
								</p>
							{% endif %}
						</div>
					</div>
				</div>

				{# ------------------------------------ #}
				<div class="col-lg-8 ps-lg-5 mt-lg-0 mt-5">
					<h2 class="mb-3">Modifier mes informations</h2>

					{{ form_start(accountForm) }}

					{{ form_row(accountForm.gender) }}
					<div class="row mt-5">
						<div class="col-lg-6">
							{{ form_row(accountForm.firstName) }}
						</div>
						<div class="col-lg-6">
							{{ form_row(accountForm.lastName) }}
						</div>
					</div>
					<div class="row mt-lg-3 mt-2">
						<div class="col-12">
							{{ form_row(accountForm.email) }}
						</div>
						<div class="col-12">
							{{ form_row(accountForm.imageFile) }}
						</div>
					</div>
					<div class="mt-lg-3 mt-2">
						<button type="submit" class="btn btn-primary float-end fs-5" onclick="return confirm('Modifier mon profil?')" formnovalidate>Mettre à jour</button>
					</div>
				</div>

				{{ form_end(accountForm) }}

			</div>

			{# -------------------------------- #}

		</div>
	{% endif %}
{% endblock %}
