{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container mt-5">

		<div class="row my-5">
			<div class="col-12">
				<h1 class="display-5">{{ title }}</h1>
				<hr>
			</div>
		</div>

		<div class="row px-lg-0 px-3">

			<div class="col-lg-6 offset-lg-3 mb-5 mt-3 border rounded p-5 bg-form">

				<div class="d-flex mb-5">
					<img src="{{ asset('build/img/register.png') }}" class="img-fluid m-auto" width="250">
				</div>

				{% for flash_error in app.flashes('verify_email_error') %}
					<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
				{% endfor %}

				{{ form_start(registrationForm) }}

				{{ form_row(registrationForm.gender) }}
				<div class="row mt-5">
					<div class="col-lg-6">
						{{ form_row(registrationForm.firstName) }}
					</div>
					<div class="col-lg-6">
						{{ form_row(registrationForm.lastName) }}
					</div>
				</div>
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.password.first) }}
				{{ form_row(registrationForm.password.second) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-primary fs-5 w-100 mt-5" formnovalidate>Créer</button>

				<p class="mt-5 text-center text-muted">Vous avez déjà un compte?
					<a href="{{ path('app_login') }}">Se connecter</a>
				</p>

				{{ form_end(registrationForm) }}

			</div>
		</div>
	</div>
{% endblock %}
